body {
opacity:0.6
 
}
.submenu
{
   position: absolute;
  display: none;
  padding: 5px;
  
}
.submenu li
{
    display:block;

}
#inlinee
{
    display:inline !important;
}

.widtt
{
    width:30%;
}
  li:hover .submenu
{
    display:inline;
   overflow:auto;
   top:auto;
   z-index:3;
   background-color:#ffffff;
}
  .submenu  a:hover
  {
      background-color:red;
      cursor:pointer;
      color:white;
  }

#forminfo
{    
  margin-top:50px;       
}
#formforget
{      
  margin-top:10px;        
}

input.ng-invalid.ng-dirty
{
   background-color:#FA787E;
}
input.ng-valid
{
    background-color:#78FA89;
}
button:hover
{
    background-color:red;   
}
.panel
{
    opacity:2
}
#my-modal
{
    margin-top:7%;
}
.carousel-indicators li.active
{
    background-color:red !important;
}
.carousel-indicators li
{
    background-color:black !important;
}
 .glyphicon-chevron-left,.glyphicon-chevron-right
{
    background-color:#000000 !important;
     border-radius: 15px !important;
    width: 35px !important;
    height: 35px !important;
    opacity: 1 !important;

}
.modal-header .close {
    float: right !important;
    margin-right: -30px !important;
    margin-top: -30px !important;
    background-color: white !important;
    border-radius: 15px !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
}
.modal-content .closee {
    float: right !important;
    margin-right: -17px !important;
    margin-top: -17px !important;
    background-color: black;
    border-radius: 15px !important;
    width: 30px !important;
    color:white;
    height: 30px !important;
    opacity: 1 !important;
}
/*li:hover
{
    background-color:grey;
}*/
