<div ng-controller="HomeCtrl">
    <div class="navbar navbar-default" style="padding-top:10px;background-color:#005387">
        <div class="container">
            <div class="navbar-header">
                <!--<div class="navbar-brand">
                    <a ui-sref="home" style="font-family:Algerian;font-size:1.5em;color:orange"><i>{{::title}}</i></a>
                    <ul>
                        <li>
                            <a ui-sref="home" style="font-style:italic;font-weight:bold; color:white">&nbsp;<i>{{titles}}</i></a>
                        </li>
                    </ul>

                </div>-->
                <span style="color:white" ng-bind="bangaloreTitle"></span>
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <!--<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->
                    <span class="glyphicon glyphicon-cog" style="color:white"></span>
                </button>
            </div>
           
            <div class="collapse navbar-collapse" id="example" style="float:right">
                <span class="nav navbar-nav">
                    <a ui-sref="contact" style="color:white"><small><span ng-bind="shipping"></span></small></a>&nbsp;<span style="color:white">|</span>
                    <a ui-sref="contact" style="color:white"><small ng-bind="cod"></small></a>&nbsp;<span style="color:white">|</span>
                    <span>
                        <a ui-sref="contact" style="color:white;" class="glyphicon-envelope">&nbsp;<small ng-bind="contact"></small></a>&nbsp;<span style="color:white">|</span>
                    </span>  
                        <a ui-sref="contact" style="color:white"><small ng-bind="order"></small> </a>
                                
                        
                    
                    
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div style="background-color:#070406;height:45px;width:160px;padding:5%;color:whitesmoke;border-radius:10px;font-family:Algerian;">

                    <a ui-sref="home" style="color:white">{{subtitl}}</a>
                </div>
                <!--<a ui-sref="home"  ng-bind="subtitl">
                </a>-->
                <small style="padding-left:4%;font-family:Algerian;" ng-bind="caption"></small>
            </div>
            <div class="col-lg-4 ">
                <div class="input-group">
                    <input type="text" class="form-control" name="input" placeholder="Search" />
                    <span class="input-group-addon" style="background-color:black">
                        <a href="#"><span class="glyphicon glyphicon-search" style="color:white"></span></a>
                    </span>

                </div>
            </div>
            <!--<span class="col-lg-1">
                <img ng-src="../Images/bag.png" class="img-responsive" alt="My Shopping Bag" />
            </span>-->
            <span class="col-lg-4">
                <a href="#"><small style="color:black" data-toggle="modal" data-target="#modal-1">{{signin}}</small></a><span style="padding-left:2%;">|</span>
                <a href="#"><small style="color:black" data-toggle="modal" data-target="#modal-rgstr">{{regstr}}</small></a><span style="padding-left:2%">|</span>
                <a href="#"><small style="color:black">{{wishlist}}</small></a>
            </span>
        </div>
    </div>
    <br />
    <div class="navbar navbar-inverse" style="padding-top:10px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse  col-lg-offset-2" id="ex">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="contact" style="font-weight:bold; color:white">{{men}}<span class="glyphicon glyphicon-menu-right" style="color:white"></span></a>
                    </li>
                    <li>
                        <a ui-sref="log" style="font-weight:bold;color:white">{{women}}<span class="glyphicon glyphicon-menu-right"></span></a>
                    </li>
                    <li>
                        <a ui-sref="log" style="font-weight:bold;color:white">{{Access}}<span class="glyphicon glyphicon-menu-right"></span></a>
                    </li>
                    <li>
                        <a ui-sref="log" style="font-weight:bold;color:white">{{kid}}<span class="glyphicon glyphicon-menu-right"></span></a>
                    </li>
                    <li>
                        <a ui-sref="log" style="font-weight:bold;color:white">{{gift}}<span class="glyphicon glyphicon-menu-right"></span></a>
                    </li>
                    <li>
                        <a ui-sref="log" style="font-weight:bold;color:white">{{Brand}}<span class="glyphicon glyphicon-menu-right"></span></a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10" style="background-color:transparent;">
            <div class="modal" id="modal-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close">&times;</button>
                            <a href="#" class="modal-title" style="color:black"><i ng-bind="registertitle"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                               
                                <div class="modal-content">
                                    <div style="padding-left:50px;padding-top:10%;color:red;"><i>Sign in to your Account</i></div>
                                    <div style="padding-left:50px;"><i>{{modalsign1}}</i></div>
                                    <div style="padding-left:70px;"><i>{{modalsign2}}</i></div>
                                    
                                    <div id="forminfo">                                       
                                        <div class="panel panel-info">
                                            <div class="panel-heading" style="background-color:#0a5787">
                                                <span class="panel-title" style="color:white">Sign in</span>
                                                <a href="#" style="float:right;font-size:small;"><i style="cursor:pointer;color:white" data-target="#modal-forgot" data-toggle="modal" data-dismiss="modal">forgot password</i></a>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal" id="form" role="form" style="background-color:white" name="logform">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        <input type="text" class="form-control" placeholder="name required" required name="name" ng-model="user.name" />
                                                    </div><div ng-show="logform.name.$error.required && logform.name.$dirty" style="float:right"><i style="color:red">Required</i></div>
                                                    <br />
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                        <input type="password" placeholder="password" required class="form-control" ng-model="user.passwrd" ng-maxlength="8" ng-minlength="5" name="passwrd" />
                                                    </div>
                                                    <div ng-show="logform.passwrd.$error.required && logform.passwrd.$dirty" style="float:right"><i style="color:red">Required!!!</i></div>
                                                    <div ng-show="logform.passwrd.$error.maxlength && logform.passwrd.$dirty" style="float:right"><i style="color:red">Too Long!!!</i></div>
                                                    <div ng-show="logform.passwrd.$error.minlength && logform.passwrd.$dirty" style="float:right"><i style="color:red">Too short!!!</i></div>
                                                    <br />
                                                    <input type="checkbox" /><span>&nbsp;Remember me</span>
                                                    <br />
                                                    <br />
                                                    <input type="button" class="btn btn-success form-control" id="btnhvr" value="Sign In" ng-disabled="logform.$invalid" ng-click="home()" style="background-color:#0a5787" />
                                                    <br />

                                                    <a ui-sref="registration" style="float:right;font-size:0.9em;cursor:pointer"><i>not a member yet</i></a>
                                                </form>
                                            </div>
                                        </div>
                                        <span style="font-style:italic;font-size:large;color:red;margin-bottom:60%">
                                            <!--<marquee behavior="alternate" direction="up" width="80%" height="50"><marquee direction="right" behavior="alternate">Login here to go home page&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee></marquee>-->
                                            <marquee direction="left">Login here to go home page&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color:#e6e2e1">
                                <div class="col-lg-4" style="padding-top:120px;margin-left:30px;">
                                    <div class="modal-content">
                                        <span><i>SignIn for:</i></span>
                                        <ul ng-repeat="item in menu">
                                            <li><i>{{item.list}}</i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="container">
            <div class="modal" id="modal-forgot" style="padding-top:10%;height:400px;">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" data-dismiss="modal" class="close">&times;</button>
                            <span style="text-align:center">Forgot Your Password?</span>
                            <span style="float:right"><small style="color:red">required field</small></span>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span>Please enter your Email address.You will receive a link to reset your password</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline" name="form">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope">
                                            </span>
                                        </span>
                                        <input type="email" class="form-control" placeholder="Email here" name="email" required ng-model="user.email" />
                                    </div>
                                    
                                    <div ng-show="form.email.$error.required && form.email.$dirty"><small style="color:red">Email is required</small></div>
                                    <div ng-show="form.email.$dirty && form.email.$error.email"><small style="color:red">Please enter valid email.example:johndoe@domain.com.</small></div>
                                    <button type="button" class="btn btn-info" ng-disabled="form.$invalid">Click Me</button>
                                </form>
                            </div>
                        </div>
                       
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-8">
        <div class="container">
            <div class="modal" id="modal-rgstr">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <a href="#" style="padding-left:25%;" data-toggle="modal" data-target="#modal-1" data-dismiss="modal">Registered Already?-SignIn</a>
                            <hr />
                        </div>
                       
                            <div class="modal-content" style="padding-top:5%;">
                                <span style="color:red;padding-left:30%;margin-bottom:4%;">Register here and get 15% off</span>
                                <form class="form-horizontal" name="form">
                                    
                                    <div class="row" style="padding-top:5%;">
                                        <div class="col-lg-5 col-lg-push-1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input type="text" class="form-control" name="fname" placeholder="First Name*" />

                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-lg-push-1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input type="text" class="form-control" name="lname" placeholder="Last Name*" />

                                            </div>
                                        </div>
                                    </div>
                                        
                                        <div class="row" style="padding-top:4%;">
                                            <div class="col-lg-5 col-lg-push-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-envelope"></span>
                                                    </span>
                                                    <input type="email" class="form-control" name="fname" placeholder="Email Address*" />

                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-lg-push-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <input type="tel" class="form-control" name="fname" placeholder="Mobile*" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:5%;">
                                            <div class="col-lg-5 col-lg-push-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <input type="password" class="form-control" name="fname" placeholder="Password*" />

                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-lg-push-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <input type="password" class="form-control" name="fname" placeholder="Confirm Password*" />

                                                </div>
                                            </div>
                                        </div>
                                    <div class="row" style="padding-top:2%;">
                                        
                                        <span class="col-lg-5 col-lg-push-6">
                                           
                                            <span class="radio">
                                                <h6>Gender*</h6>
                                                <label><input type="radio" name="radio1" style="background-color:green" />Male</label>                                                                                      
                                                <label><input type="radio" name="radio1" />Female</label>
                                            </span>
                                            
                                        </span>
                                       
                                    </div>
                                    <div class="row" style="padding-top:5%;padding-bottom:2%;">
                                        <div class="col-lg-5 col-lg-push-3">
                                          <button type="button" class="btn btn-primary form-control">Register</button>                                                                                                                                                                                 
                                        </div>                                       
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>    
</div>
