
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 col-lg-push-1 col-sm-push-3 col-xs-push-1" id="forminfo">
                <div class="panel panel-info">
                    <div class="panel-heading" style="background-color:#0a5787">
                        <span class="panel-title" style="color:white">Sign in</span>
                        <a ui-sref="forgot" style="float:right" ;font-size:small;"><i style="cursor:pointer;color:white">forgot password</i></a>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="form" role="form" style="background-color:white" name="logform">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" placeholder="name required" required name="name" ng-model="user.name" />
                            </div><div ng-show="logform.name.$error.required && logform.name.$dirty" style="float:right"><i style="color:red">Required</i></div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" placeholder="password" required class="form-control" ng-model="user.passwrd" ng-maxlength="8" ng-minlength="5" name="passwrd" />
                            </div>
                            <div ng-show="logform.passwrd.$error.required && logform.passwrd.$dirty" style="float:right"><i style="color:red">Required!!!</i></div>
                            <div ng-show="logform.passwrd.$error.maxlength && logform.passwrd.$dirty" style="float:right"><i style="color:red">Too Long!!!</i></div>
                            <div ng-show="logform.passwrd.$error.minlength && logform.passwrd.$dirty" style="float:right"><i style="color:red">Too short!!!</i></div>
                            <br />
                            <input type="checkbox" /><span>&nbsp;Remember me</span>
                            <br />
                            <br />
                            <input type="button" class="btn btn-success form-control" id="btnhvr" value="Sign In" ng-disabled="logform.$invalid" ng-click="home()" style="background-color:#0a5787" />
                            <br />

                            <a ui-sref="registration" style="float:right;font-size:0.9em;cursor:pointer"><i>not a member yet</i></a>
                        </form>
                    </div>
                </div>
                <span style="font-style:italic;font-size:large;color:red;margin-bottom:60%">
                    <!--<marquee behavior="alternate" direction="up" width="80%" height="50"><marquee direction="right" behavior="alternate">Login here to go home page&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee></marquee>-->
                    <marquee direction="left" >Login here to go home page&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 col-lg-push-3 col-sm-push-3 col-xs-push-1" id="forminfo">
                <div class="panel panel-info">
                    <div class="panel-heading" style="background-color:#0a5787">
                        <div class="panel-title" style="color:white">
                            Register here
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" name="regfrm">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" placeholder="name required" required name="nm" ng-model="user.nm" />
                            </div><div ng-show="regfrm.nm.$error.required && regfrm.nm.$dirty" style="float:right"><i style="color:red">Required</i></div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" name="email" placeholder="email" required ng-model="user.email" />
                            </div>
                            <div>
                                <div ng-show="regfrm.email.$dirty && regfrm.email.$error.required"><i style="color:red">Required!!!</i></div>
                                <div ng-show="regfrm.email.$dirty && regfrm.email.$error.email"><i style="color:red">Not an Email!!!</i></div>
                                <br />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="password" placeholder="password" required ng-model="user.password" ng-maxlength="10" ng-minlength="5" />
                            </div>
                            <div ng-show="regfrm.password.$dirty && regfrm.password.$error.required"><i style="color:red">Required!!</i></div>
                            <div ng-show="regfrm.password.$dirty && regfrm.password.$error.maxlength"><i style="color:red">Too Long!!</i></div>
                            <div ng-show="regfrm.password.$dirty && regfrm.password.$error.minlength"><i style="color:red">Too Short!!</i></div>
                            <br />
                            <input type="button" class="btn btn-success form-control" name="forget" value="Click me" ng-disabled="regfrm.$invalid" style="background-color:#0a5787;font-style:italic" />
                        </form>
                    </div>
                </div>
                <span style="font-style:italic;font-size:large;color:green;margin-bottom:60%">
                    <!--<marquee behavior="alternate" direction="up" width="90%" height="50"><marquee direction="right" behavior="alternate">Please Register here&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee></marquee>-->
                    <marquee direction="left">Please Register here&nbsp;<span class="glyphicon glyphicon-hand-left"></span></marquee>
                </span>
            </div>
        </div>
    </div>
</div>



