
<div class="row">
    <div class="container">
        <div class="col-lg-10">
            <div class="col-lg-3" style="background-color:#ededed">
                <i style="color:orangered;padding-left:3%;width:20%;">Men</i>
                <p ng-repeat="men in getmenu">
                    <a href="#" ng-bind="men.Subtitle"></a>
                </p>
                <span style="font-weight:bold;color:orangered;">ACCESSORIES</span>
                <p ng-repeat="menu in getmenu">
                    <i>
                        <a ng-bind="menu.Subtitlea"></a>
                    </i>
                </p>
            </div>
            <div class="col-lg-7 col-xs-4 col-sm-4">
                <img ng-src="../SubImages/menmain.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:5%;">
    <div class="container">
        <div ng-repeat="img in menimg">
            <div class="col-lg-3">
                <img ng-src="../SubImages/{{img.Imagename}}.jpg">
                <span ng-bind="img.name" style="font-weight:bolder">
                    <a href="#" ng-bind="img.subtitle"></a>
                </span>
            </div>
        </div>
        <br />
    </div>
</div>
<!-- End of Women Items -->

